.buttons {
    margin-top: 20px;
}

button {
    padding: 10px;
    border-radius: 30px;
    background-color: #ac4805;
    color: #fff;
    font-size: 120%;
    border: none;
    margin-right: 60px;
    font-weight: 400;
    

}

.button-box {
    display: flex;
    
}

