.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #d36d29;
    height: 15vh;

 }

 .nav-links {
     display: flex;
     margin-right: 50px;
 }
     
 .nav-links li {
    
     margin: 15px ;
     list-style: none ;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 2px;
     word-spacing: 2px;
     margin-left: 40px;
     transition: color 0.2s, border-bottom 0.2s;
 }
 .nav-links a {
     color: #041f04;
     text-decoration: none;

 }

.nav-links li:hover,
.nav-links li:active {
    padding-bottom: 10px;
    color: #fff;
    border-bottom: 1px solid #fff;  
 }

 .nav-links a:hover,
 .nav-links a:active {
     color: #fff;
 }


 .logo {
     height: 80%;
     width: 15%;
     margin-top: 0px;
     margin-left: 0px;
     text-align: center;
     justify-self: center;
 }

 .logo img {
     height: 100%;
     margin-left: 

 }